<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title> STRIQ  </title>

    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="css/card.css" type="text/css">
    <!-- <script src="JS/card.js"></script> -->
</head>

<body class="with-blur-backdrop"> <!--blurs the background-->
    <div class="container">
        <div class="card">
          <!-- <div class="qr"> -->
            <!-- <img src="./images/doc.jpg" alt="qr code which leads to Frontend Mentor"> -->
                <div class="content">

                    <!-- Output Form Details -->
                    <ul>
                      <li><% users.forEach(user => { %> </li></h1>
                        <h2>Name of Service:</h2>
                            <li>
                          <%= user.nameofservice %>
                        </li>
                        
                        <h2> 
                          Email:</h2>
                        <li>
                          <%= user.email %>
                        </li>
                        
                        <h2>
                          Address:</h2>
                        <li>
                          <%= user.address %>
                        </li>
                        
                        <h2>
                          Telephone:</h2>
                        <li>
                          <%= user.telephone %>
                        </li>
                        
                        <% }) %>
                    </ul>
                    <a href="https://striq.onrender.com/login" class="link">LogOut</a>
              </div>
            </div>
        </div>
      </div>
<!-- 
<script src="JS/home.js"></script> -->

</body> 

</html>